#cmake
bin
build
lib

#generated
.vs

#imgui
imgui.ini

#files
*.exe
*.pdb
*.stackdump

RaytracingDemo/Assets/*
RaytracingDemo/Cooked/*

#SunTemple Test
SunTemple/Assets/*
SunTemple/Raw/*

#docs
Docs