#cmake
bin
build
lib

#generated
.vs

#imgui
imgui.ini

#files
*.exe
*.pdb

#cooked assets
*.hp_mdl
*.hp_mtl
*.hp_tex
*.hp_pkg
*.hp_wml

# raw assets
*.obj
*.mtl
*.png
*.dds
*.tga