#cmake
bin
build
lib

#generated
.vs

#imgui
imgui.ini

#files
*.exe
*.pdb
*.stackdump

RaytracingDemo/Assets/*
RaytracingDemo/Cooked/*

#SunTemple Test
SimpleGame/Assets/Materials/SunTemple/*
SimpleGame/Assets/Meshes/SunTemple/*
SimpleGame/Assets/Textures/SunTemple/*
SimpleGame/Raw/Meshes/SunTemple/*
SimpleGame/Raw/Textures/SunTemple/*

#docs
Docs